@import url(/src/assets/css/variaveisGlobais.css);

.setor {
    text-align: center;
    padding: 32px;
}

.setor h3 {
    font-size: 32px;
    font-family: var(--fonte-principal);
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.setor .clientes {
    display: flex;
    height: 100%;
    margin-top: 24px;
}

.swiper {
    text-align: center;
    width: 900px;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    height: 100%;
}