@import url(/src/assets/css/variaveisGlobais.css);

.campo-texto {
   margin-top: 24px;
   font-family: 'Montserrat', sans-serif;
   background-color: var(--branco);
   transition: box-shadow 0.3s ease;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
